<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TigerMealX - Exchanges</title>
</head>
<body>
    <!--- CURRENT EXCHANGE TABLE -->
    {% if curr_exchanges|length == 0 %}
    <p>You have no current exchanges</p>
    {% else %}
        <table>
        <tr>
          <th>Name</th>
          <th>Place</th>
          <th>Meal</th>
          <th>Completion date</th>
          <th>Expiration date</th>
    
        </tr>
         {% for exchange in curr_exchanges: %}
          <tr>
            
            <td align="left">>{{exchange.get_name()}}</td>
            <td align="right"> {{exchange.get_place()}}</td>
            <td width="20px"> {{exchange.get_status()}}</td>
            <td> {{exchange.get_exp()}}</td>
          </tr>
         {% endfor %}
        {% endif %}
      </table>


    <!--- PAST EXCHANGE TABLE -->
      {% if past_exchanges|length == 0 %}
    <p>You have no past exchanges</p>
    {% else %}
        <table>
        <tr>
          <th>Name</th>
          <th>Place</th>
          <th>Meal</th>
          <th>Completion date</th>
          <th>Expiration date</th>
    
        </tr>
         {% for exchange in past_exchanges: %}
          <tr>
            
            <td align="left"><exchange.get_name()</td>
            <td align="right"> exchange.get_place()</td>
            <td width="20px"> exchange.get_status()</td>
            <td> exchange.get_exp()</td>
          </tr>
         {% endfor %}
      </table>
      {% endif %}
      {% include 'ToStart.html' %}
</body>
</html>