<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TigerMealX</title>
</head>
<body>
<h1>Welcome to TigerMealX!</h1>
   <form action = "http://localhost:5000/exchanges" method = "get">
      <p><input type = "submit" value = "Exchanges" /></p>
   </form>
   <form action = "http://localhost:5000/faq" method = "get">
      <p><input type = "submit" value = "FAQ" /></p>
   </form>
   <form action = "http://localhost:5000/help" method = "get">
      <p><input type = "submit" value = "Help" /></p>
   </form>
</body>
</html>